<md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Name</label>
        <input ng-model="vm.user.name" type="text">
    </md-input-container>


    <md-input-container class="md-icon-float md-icon-right md-block">
        <label>Last name</label>
        <input ng-model="vm.user.lastname" type="text" step="0.01">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <input ng-model="vm.user.phone" type="text" placeholder="Phone Number">
    </md-input-container>

    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <input ng-model="vm.user.email" type="email" placeholder="Email">
    </md-input-container>
    <div layout="row">
        <md-button flex="" ng-click="vm.save()" class="md-raised">Save</md-button>
    </div>
</md-content>